@model MEGAPos.Models.Store_Location
@{
    /**/

    ViewBag.Title = "New Store Location";
}



<link href="~/Content/UI/Register.css" rel="stylesheet" />




@using (Html.BeginForm("CreateLocation", "Settings", FormMethod.Post, new { @class = "ui form root", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h2>@ViewBag.Title</h2>
    <hr />
    if (Model.Id > 0)
    {
        <div class="field ui left icon input">
            @Html.TextBoxFor(m => m.StoreName, new { @type = "text", @placeholder = Model.StoreName })
            <i class="warehouse icon"></i>

            @Html.ValidationMessageFor(m => m.StoreName, "", new { @class = "ui warning message" })
        </div>
    }
    else
    {
        <div class="field ui left icon input">
            @Html.TextBoxFor(m => m.StoreName, new { @type = "text", @placeholder = "Store Name" })
            <i class="warehouse icon"></i>

            @Html.ValidationMessageFor(m => m.StoreName, "", new { @class = "ui warning message" })
        </div>
    }
    <div class="field ui left icon input">
        <p>STORE</p>
    </div>

    <input type="submit" value="Save" />
}


<style>
    #lc-inputs {
        display: flex;
        align-content: center;
        justify-content: center;
        text-align: center;
    }
</style>

