@model MEGAPos.Models.U_O_M

@{
    /**/

    ViewBag.Title = "CreateUnit";
}
<link href="~/Content/UI/Register.css" rel="stylesheet" />


<h2>Create Unit</h2>

@using (Html.BeginForm("CreateUnit", "Inventory", FormMethod.Post, new { @class = "ui form root form-white", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Create a new Unit Of Measure.</h4>
    <hr />

    <div class="field ui left icon input">
        @Html.TextBoxFor(m => m.Unit_Name, new { @type = "text", @placeholder = "Name" })
        <i class="user icon"></i>
        @Html.ValidationMessageFor(m => m.Unit_Name, "", new { @class = "ui warning message" })
    </div>

    <div class="field ui left icon input">
        <div>
            <input type="submit" value="Create Unit" class="ui button primary" />
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index", "Users", new { @class = "ui button default" })
</div>*@

<style>
    .registers {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .form-white {
        background: #ffffff;
        margin-bottom:10px;
    }

    .mg-title {
        margin-top: 5%;
    }
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

