@model MEGAPos.Models.Item

@{
    ViewBag.Title = "Create";
}
<link href="~/Content/UI/Register.css" rel="stylesheet" />


@using (Html.BeginForm("Create", "Inventory", FormMethod.Post, new { @class = "ui form root", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Create new Item</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="field ui left icon input">
        @Html.TextBoxFor(m => m.Item_Name, new { @type = "text", @placeholder = "Item Name" })
        <i class="user icon"></i>
        @Html.ValidationMessageFor(m => m.Item_Name, "", new { @class = "ui warning message" })
    </div>

    <div class="field ui left icon input">
        @Html.TextBoxFor(m => m.Description, new { @type = "text", @placeholder = "Item Description" })
        <i class="user icon"></i>
        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "ui warning message" })
    </div>



    @*<div class="field ui left icon input">
        @Html.Label("Includes VAT?")
       
        @Html.DropDownListFor(m => m.Is_VAT_Id, new SelectList(@ViewBag.Vats, "Value", "Text"), new { @class = "ui dropdown" })
    </div>*@

    <div class="field ui left icon input unit-input">
        @Html.Label("Unit Of Measure")
        <div>
            @Html.DropDownListFor(m => m.Unit_Id, new SelectList(@ViewBag.Units, "Value", "Text"), new { @class = "ui dropdown" })

        </div>
    </div>

    @Html.HiddenFor(m => m.Created_By)

    @Html.HiddenFor(m => m.ItemDateCreated)

    @Html.HiddenFor(m => m.ItemDateUpdate)


    <div class="field ui left icon input">
        <div>
            <input type="submit" value="Create" class="ui button primary" />
        </div>
    </div>
}
<style>
    .unit-input{
        display:flex;
        flex-direction:column;
    }
</style>