@model MEGAPos.Models.Customers
@{
    ViewBag.Title = "CustomerBio";
}

<link href="~/Content/UI/Register.css" rel="stylesheet" />


@using (Html.BeginForm("CreateCustomerBio", "Users", FormMethod.Post, new { @class = "ui form root", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Update Your Bio</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="field ui left icon input">
        @Html.TextBoxFor(m => m.Customer_Name, new { @type = "text", @placeholder = "Name" })
        <i class="user icon"></i>
        @Html.ValidationMessageFor(m => m.Customer_Name, "", new { @class = "ui warning message" })
    </div>

    <div class="field ui left icon input">
        @Html.TextBoxFor(m => m.Address, new { @type = "text", @placeholder = "Address" })
        <i class="user icon"></i>
        @Html.ValidationMessageFor(m => m.Address, "", new { @class = "ui warning message" })
    </div>

    <div class="field ui left icon input">
        @Html.TextBoxFor(m => m.Contact, new { @type = "text", @placeholder = "Contact" })
        <i class="user icon"></i>
        @Html.ValidationMessageFor(m => m.Contact, "", new { @class = "ui warning message" })
    </div>

    <div class="field ui left icon input">
        @Html.Label("Customer Type")

        @Html.DropDownListFor(m => m.CustomerType_Id, new SelectList(@ViewBag.Custypes, "Value", "Text"), new { @class = "ui dropdown" })
    </div>

    <div class="field ui left icon input">
        <div>
            <input type="submit" value="Create" class="ui button primary" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<style>
    .unit-input {
        display: flex;
        flex-direction: column;
    }
</style>